@import url("https://fonts.googleapis.com/css?family=Kaisei%20Decol:700|Kaisei%20Decol:400");

:root {
  font-family: "Kaisei Decol", Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --text: #060807;
  --background: #f9faf9;
  --primary: #225d38;
  --secondary: #9eb7c9;
  --accent: #9ab1b1;

  color-scheme: light dark;
  color: var(--text);
  background-color: var(--background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Kaisei Decol";
  font-weight: 700;
}

html {
  font-size: 100%;
} /* 16px */

h1 {
  font-size: 4.21rem; /* 67.36px */
}

h2 {
  font-size: 3.158rem; /* 50.56px */
}

h3 {
  font-size: 2.369rem; /* 37.92px */
}

h4 {
  font-size: 1.777rem; /* 28.48px */
}

h5 {
  font-size: 1.333rem; /* 21.28px */
}

small {
  font-size: 0.75rem; /* 12px */
}
a {
}
a:hover {
}
body {
  font-family: "Kaisei Decol";
  font-weight: 400;
  margin: 0;
  min-height: 100vh;
  background-color: var(--background);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
}
button:focus,
button:focus-visible {
}

@media (prefers-color-scheme: light) {
  :root {
    --text: #f6f8f7;
    --background: #050605;
    --primary: #a2ddb7;
    --secondary: #375062;
    --accent: #4e6565;
  }
  a:hover {
  }
  button {
    background-color: #f9f9f9;
  }
}
